.chevronContainer {
    display: flex;
    
    position: fixed;
    left: 50%;
    bottom: 5vh;

    height: 3.09vw;;

    justify-content: center;
    /* transform: translateY(10vh); */

    /* visibility: hidden; */
}

#chevron_top {
    visibility: hidden;
}

.chevronContainer > svg {
    width: 3.09vw;
    height: 3.09vw;
}

main>.chevronContainer:first-of-type {
    position: fixed;
    left: 50%;
    top: 13.618vh;
}

main>.chevronContainer:first-of-type>svg {
    transform: rotate(180deg);
}