.chevronContainer {
    /* display: flex; */
    display: inline-block;

    text-decoration: none;
    
    position: fixed;

    left: 50%;
    bottom: 5vh;

    height: 3.09vw;;

    justify-content: center;
    cursor: pointer;

    border: none;
    background-color: transparent;
    outline-style: none;
}

.chevronContainer:hover,
.chevronContainer:focus {
    transform: scale(0.85);
    transition: all .2s linear;
}

.chevronContainer:focus {
    outline-offset: -4px;
}

#chevron_top {
    /* visibility: hidden; */
}

.chevronContainer > svg {
    width: 3.09vw;
    height: 3.09vw;
}

main>.chevronContainer:first-of-type {
    position: fixed;
    left: 50%;
    top: 13.618vh;
}

main>.chevronContainer:first-of-type>svg {
    transform: rotate(180deg);
}