.chevronContainer {
    display: flex;
    
    position: fixed;
left: 50%;
bottom: 10vh;

    justify-content: center;
    /* transform: translateY(10vh); */
}

.chevronContainer > svg {
    width: 5vw;
    height: 5vw;
}