nav.navbar {
    /* background-color: hsla(0, 0%, 100%,1); */
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    min-height: 7.87vh !important;
    max-height: 7.87vh !important;
    z-index: 1;
    color: #002620;
    background-color: transparent;
}

div.navbar-item {
    flex-grow: 1;
    background-color: hsla(0, 0%, 100%, 1);
}

div.navbar-item:not(:hover)>.navbar-dropdown {
    display: flex;
    padding: 0 auto;
    opacity: 0;
    /* transition: all 1s linear !important; */
    background-color: hsla(0, 0%, 100%, 1);
        background-color: red;

}

div.navbar-item:hover>.navbar-dropdown {
    display: flex;
    flex-flow: column;
    /* padding: 0 auto; */
    height: 100%;
    opacity: 1;
    padding: 0;
    /* transition: all 10s linear !important; */
}

div.navbar-item>.navbar-dropdown>button.navbar-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    height: 100%; 
    width: 100%;

}

button.navbar-item > svg {
    min-height: 1.5rem;
    max-height: 1.5rem;
    min-width: 1.5rem;
    max-width: 1.5rem;
    border-radius: 100%;

}

button.navbar-link:not(.is-arrowless):hover {
    color: hsla(171, 100%, 41%,1);
        background-color: transparent;

}

button.navbar-link:not(.is-arrowless)::after {
    content: '';
    border-color: hsla(171, 100%, 41%,1);
}

button.navbar-item,
button.navbar-link,
button.navbar-burger.burger[aria-expanded=false] {
    border: none;
    background: white;
        background-color: transparent;

}

/* button.navbar-burger {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
        transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button.navbar-burger:hover,
button.navbar-burger:focus {
    background: #0053ba;
}

button.navbar-burger:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button.navbar-burger:active {
    transform: scale(0.99);
} */

.navbar-item:hover>.navbar-link:not(:hover)>.navbar-dropdown {
    transform: translateY(-200%);
    transition: all 1s linear;
}

.navbar-item:hover>.navbar-link:hover>.navbar-dropdown {
    transform: translateY(0);
    transition: all 1s linear;
}

.navbar-item:hover>.navbar-link:hover>.navbar-dropdown:hover {
    cursor: pointer;
}