header {
    position: fixed;
    top: 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    background: rebeccapurple;

    width: 100%;
    height: 10vh;
}


header+div {
    margin: 0 auto;
    margin-top: 10vh;
    width: 100%;
    min-width: 960px;
    max-width: 960px;
    padding: 0 1.0875rem 1.45rem;
}

header > div:not(div:first-of-type) {
    margin: 0 auto;
    max-width: 960px;
    padding: 1.45rem 1.0875rem;
}

header > div > h1 {
        margin: 2.5vw;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        color: inherit;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
            Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        font-weight: bold;
        text-rendering: optimizeLegibility;
        line-height: 1.1;
    

}

header>div>h1>a {
    color: white;
    text-decoration: none;
    font-family: Roboto;
    font-weight: 700;
}

header>svg {
    position: fixed;
    right: 2.5rem;

    width: 1.8rem;
    height: 1.2rem;

}

header > .field {
    position: fixed;
    right: 5rem;
}

header option {
    font-family: 'Roboto';
}
