@import url('https://fonts.googleapis.com/css?family=Roboto:300,500i&display=swap');

*,
*+* {
  box-sizing: border-box;
}

:root {
  --buff: #f4f39a;
  --dark-cream: #f4e898;
  --light-tan: hsla(45, 81%, 77%, 1);
  --pale-peach: #f4d193;
  --very-light-brown: hsla(32, 82%, 76%, 1);
  --peach: #f4ba8e;
  --pale-salmon: #f3af8b;
  --light-salmon: #f3a389;
  --blush: #f39886;
  --peachy-pink: #f38c84;
  --blush-pink: hsla(0, 83%, 73%, 1);
  --cement: #9da99c;
  --cool-gray: #87a3a7;
  --bluey-gray: #709db1;
  --gray-blue: hsla(201, 38%, 55%, 1);
  --dusty-blue: #5295bf;
  --bulma-green: #9DF5DF;
  --bulma-blue: hsla(204, 86%, 53%,1);
  --bulma-blue2: hsla(195, 66%, 38%,1);
  --bulma-orange: hsla(48, 100%, 67%,1);
  --bulma-red: hsla(348, 100%, 61%,1);
  --bulma-yellow: #D1CE0A;
  --bulma-black: rgba(0, 38, 32,.7);
  font-family: "Roboto";
  font-size: 20px;

  width: 100vw;
  max-height: 100vh;
  overflow: hidden;

  /* background-color: aquamarine; */
}

body {
border: .5rem solid var(--bulma-black);
border-bottom: .5rem solid transparent;

background-color: rgba(127, 255, 212,.5);

max-height: 100vh;
width: 100vw;
}

.layout {
  display: grid;
  gap: 1px 1px;
  grid-template-areas: ". ."". ."". .";

  align-items: start;
  max-height: 100vh;
}

.rotationSliders {
  position: fixed;
  bottom: 5vh;
  right: 0;
  height: 10px;
  z-index: 10;
}

#logoGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);


  justify-items: center;
  align-content: stretch;

  align-items: stretch;

  overflow: visible;
}

.logos {
  max-width: 33%;
  max-height: 33%;

  padding: 0 auto;

  align-self: center;

  filter: grayscale(100%);
  scale:1;

    opacity: 0;
}

.logos::before {
  display: none;
  top: 1.5em;
  font-size: 0.9em;
}

.logos:hover::before {
  display: visible;
  content: attr(data-presentation);
  position: absolute;
  color: blue;
   top: 1.5em;
   font-size: 0.9em;
   scale: 4;
   width: 100%;
   height: 100%;
   border: 10px solid green;
}

.logos:nth-of-type(4) {
  scale: 1.5;
}

.logos:nth-of-type(4),
.logos:nth-of-type(5) {
  translate: 150%;
}


/* Ruby on Rails */
#ror {
  /* display: flex;
  justify-content: center; */
  padding: auto;
  /* transform: scale(2); */
  overflow: visible;
}

#ror > g {
    transform: scale(2.5) translate(-50%, -59%);
}

.logos#react {
  /* min-width: 2rem; */
  min-height: 2rem;
}

.container>svg:first-of-type {
  /* align-self: center; */
}