div.container>div:first-of-type {
align-self: center;
display: flex;
justify-content: center;
align-items: center;
}

div.container > div > svg {
    width: 25vw;
    height: 25vw;

    /* display: flex !important; */
    justify-content: center;
    align-items: center;
}

div.container>div>svg>path {
    align-self: center;
    transform: translateY(30%);
}