@import url('https://fonts.googleapis.com/css?family=Roboto:300,700i&display=swap');

div.text {
    width: 50vw;
    height: 30vw;
    /* border: 1px solid pink; */
    align-self: center;

    display: flex;
    flex-flow: row wrap;

    align-items: center;
}

.text>p {
    font-family: Roboto, sans-serif;
    font-size: 1.67rem;
    font-weight: regular;
    line-height: 3rem;
    user-select: none;
}

.text>p>span {
    font-weight: 700;
}

main {

}

div.container>div:not(.slide.text)>svg {
    /* width: 25vw;
    height: 25vw;
    z-index: 2; */
}