$buff: #f4f39a;
$dark-cream: #f4e898;
$light-tan: hsla(45, 81%, 77%, 1);
$pale-peach: #f4d193;
$very-light-brown: hsla(32, 82%, 76%, 1);
$peach: #f4ba8e;
$pale-salmon: #f3af8b;
$light-salmon: #f3a389;
$blush: #f39886;
$peachy-pink: #f38c84;
$blush-pink: hsla(0, 83%, 73%, 1);
$cement: #9da99c;
$cool-gray: #87a3a7;
$bluey-gray: #709db1;
$gray-blue: hsla(201, 38%, 55%, 1);
$dusty-blue: #5295bf;