$buff: #f4f39a;
$dark-cream: #f4e898;
$light-tan: #f4dc95;
$pale-peach: #f4d193;
$very-light-brown: #f4c590;
$peach: #f4ba8e;
$pale-salmon: #f3af8b;
$light-salmon: #f3a389;
$blush: #f39886;
$peachy-pink: #f38c84;
$blush-pink: #f38181;
$cement: #9da99c;
$cool-gray: #87a3a7;
$bluey-gray: #709db1;
$gray-blue: #6199b8;
$dusty-blue: #5295bf;
